                                                                 Results

   Document Title                                                                               Matching extract
   Visveswaraya Iron And Steel Ltd. vs Dynacraft Machine Co. Ltd. on 26 July, 1989
     * "
       9
       .
       P
       o
       w
       e
       r
       t
       o
       p
       a
       r
       t
       y
       t
       o
       a
       p
       p
       o
       i
       n
       t
       n
       e
       w
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       o
       r
       i
       n
       c
       e
       r
       t
       a
       i
       n
       c
       a
       s
       e
       s
       ,
       a
       s
       o
       l
       e
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       :
       -
       W
       h
       e
       r
       e
       a
       n
       a
       r
       b
       i
       t
       r
       a
       t
       i
       o
       n
       a
       g
       r
       e
       e
       m
       e
       n
       t
       p
       r
       o
       v
       i
       d
       e
       s
       t
       h
       a
       t
       a
       r
       e
       f
       e
       r
       e
       n
       c
       e
       s
       h
       a
       l
       l
       b
       e
       t
       o
       t
       w
       o
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       s
       o
       n
       e
       t
       o
       b
       e
       a
       p
       p
       o
       i
       n
       t
       e
       d
       b
       y
       e
       a
       c
       h
       p
       a
       r
       t
       y
       ,
       t
       h
       e
       n
       ,
       u
       n
       l
       e
       s
       s
       a
       d
       i
       f
       f
       e
       r
       e
       n
       t
       i
       n
       t
       e
       n
       t
       i
       o
       n
       i
       s
       e
       x
       p
       r
       e
       s
       s
       e
       d
       i
       n
       t
       h
       e
       a
       g
       r
       e
       e
       m
       e
       n
       t
       ,
       -
       (
       a
       )
       i
       f
       e
       i
       t
       h
       e
       r
       o
       f
       t
       h
       e
       a
       p
       p
       o
       i
       n
       t
       e
       d
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       s
       n
       e
       g
       l
       e
       c
       t
       s
       o
       r
       r
       e
       f
       u
       s
       e
       s
       t
       o
       a
       c
       t
       ,
       o
       r
       i
       n
       c
       a
       p
       a
       b
       l
       e
       o
       f
       a
       c
       t
       i
       n
       g
       ,
       o
       r
       d
       i
       e
       s
       ,
       t
       h
       e
       p
       a
       r
       t
       y
       w
       h
       o
       a
       p
       p
       o
       i
       n
       t
       e
       d
       h
       i
       m
       m
       a
       y
       a
       p
       p
       o
       i
       n
       t
       a
       n
       e
       w
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       i
       n
       h
       i
       s
       p
       l
       a
       c
       e
       ;
       (
       b
       )
       i
       f
       o
       n
       e
       p
       a
       r
       t
       y
       f
       a
       i
       l
       s
       t
       o
       a
       p
       p
       o
       i
       n
       t
       a
       n
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       ,
       e
       i
       t
       h
       e
       r
       o
       r
       i
       g
       i
       n
       a
       l
       l
       y
       o
       r
       b
       y
       w
       a
       y
       o
       f
       s
       u
       b
       s
       t
       i
       t
       u
       t
       i
       o
       n
       a
       s
       a
       f
       o
       r
       e
       s
       a
       i
       d
       ,
       f
       o
       r
       f
       i
       f
       t
       e
       e
       n
       c
       l
       e
       a
       r
       d
       a
       y
       s
       a
       f
       t
       e
       r
       t
       h
       e
       s
       e
       r
       v
       i
       c
       e
       b
       y
       t
       h
       e
       o
       t
       h
       e
       r
       p
       a
       r
       t
       y
       o
       f
       a
       n
       o
       t
       i
       c
       e
       i
       n
       w
       r
       i
       t
       i
       n
       g
       t
       o
       m
       a
       k
       e
       t
       h
       e
       a
       p
       p
       o
       i
       n
       t
       m
       e
       n
       t
       ,
       s
       u
       c
       h
       o
       t
       h
       e
       r
       p
       a
       r
       t
       y
       h
       a
       v
       i
       n
       g
       a
       p
       p
       o
       i
       n
       t
       e
       d
       h
       i
       s
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       b
       e
       f
       o
       r
       e
       g
       i
       v
       i
       n
       g
       t
       h
       e
       n
       o
       t
       i
       c
       e
       ,
       t
       h
       e
       p
       a
       r
       t
       y
       w
       h
       o
       h
       a
       s
       a
       p
       p
       o
       i
       n
       t
       e
       d
       a
       n
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       m
       a
       y
       a
       p
       p
       o
       i
       n
       t
       t
       h
       a
       t
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       t
       o
       a
       c
       t
       a
       s
       s
       o
       l
       e
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       i
       n
       t
       h
       e
       r
       e
       f
       e
       r
       e
       n
       c
       e
       ,
       a
       n
       d
       h
       i
       s
       a
       w
       a
       r
       d
       s
       h
       a
       l
       l
       b
       e
       b
       i
       n
       d
       i
       n
       g
       o
       n
       b
       o
       t
       h
       p
       a
       r
       t
       i
       e
       s
       a
       s
       i
       f
       h
       e
       h
       a
       d
       b
       e
       e
       n
       a
       p
       p
       o
       i
       n
       t
       e
       d
       b
       y
       c
       o
       n
       s
       e
       n
       t
       :
       P
       r
       o
       v
       i
       d
       e
       d
       t
       h
       a
       t
       t
       h
       e
       C
       o
       u
       r
       t
       m
       a
       y
       s
       e
       t
       a
       s
       i
       d
       e
       a
       n
       y
       a
       p
       p
       o
       i
       n
       t
       m
       e
       n
       t
       a
       s
       s
       o
       l
       e
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       u
       n
       d
       e
       r
       C
       l
       a
       u
       s
       e
       (
       b
       )
       a
       n
       d
       e
       i
       t
       h
       e
       r
       ,
       o
       n
       s
       u
       f
       f
       i
       c
       i
       e
       n
       t
       c
       a
       u
       s
       e
       b
       e
       i
       n
       g
       s
       h
       o
       w
       n
       a
       l
       l
       o
       w
       f
       u
       r
       t
       h
       e
       r
       t
       i
       m
       e
       t
       o
       t
       h
       e
       d
       e
       f
       a
       u
       l
       t
       i
       n
       g
       p
       a
       r
       t
       y
       t
       o
       a
       p
       p
       o
       i
       n
       t
       a
       n
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       o
       r
       p
       a
       s
       s
       s
       u
       c
       h
       o
       t
       h
       e
       r
       o
       r
       d
       e
       r
       a
       s
       i
       t
       t
       h
       i
       n
       k
       s
       f
       i
       t
       .
       E
       x
       p
       l
       a
       n
       a
       t
       i
       o
       n
       :
       -
       T
       h
       e
       f
       a
       c
       t
       t
       h
       a
       t
       a
       n
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       o
       r
       u
       m
       p
       i
       r
       e
       ,
       a
       f
       t
       e
       r
       a
       r
       e
       q
       u
       e
       s
       t
       b
       y
       e
       i
       t
       h
       e
       r
       p
       a
       r
       t
       y
       t
       o
       e
       n
       t
       e
       r
       o
       n
       a
       n
       d
       p
       r
       o
       c
       e
       e
       d
       w
       i
       t
       h
       t
       h
       e
       r
       e
       f
       e
       r
       e
       n
       c
       e
       ,
       d
       o
       e
       s
       n
       o
       t
       w
       i
       t
       h
       i
       n
       o
       n
       e
       ,
       m
       o
       n
       t
       h
       c
       o
       m
       p
       l
       y
       w
       i
       t
       h
       t
       h
       e
       r
       e
       q
       u
       e
       s
       t
       m
       a
       y
       c
       o
       n
       s
       t
       i
       t
       u
       t
       e
       a
       n
       e
       g
       l
       e
       c
       t
       o
       r
       r
       e
       f
       u
       s
       a
       l
       t
       o
       a
       c
       t
       w
       i
       t
       h
       i
       n
       t
       h
       e
       m
       e
       a
       n
       i
       n
       g
       o
       f
       S
       e
       c
       t
       i
       o
       n
       8
       a
       n
       d
       t
       h
       i
       s
       S
       e
       c
       t
       i
       o
       n
       .
       "
       A
       c
       c
       o
       r
       d
       i
       n
       g
       t
       o
       C
       l
       a
       u
       s
       e
       (
       b
       )
       i
       f
       a
       p
       a
       r
       t
       y
       f
       a
       l
       l
       s
       t
       o
       a
       p
       p
       o
       i
       n
       t
       a
       n
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       a
       f
       t
       e
       r
       h
       a
       v
       i
       n
       g
       r
       e
       c
       e
       i
       v
       e
       d
       a
       n
       o
       t
       i
       c
       e
       o
       f
       1
       5
       c
       l
       e
       a
       r
       d
       a
       y
       s
       ,
       t
       h
       e
       p
       a
       r
       t
       y
       w
       h
       o
       i
       s
       s
       u
       e
       d
       t
       h
       e
       n
       o
       t
       i
       c
       e
       i
       s
       e
       n
       t
       i
       t
       l
       e
       d
       t
       o
       a
       p
       p
       o
       i
       n
       t
       a
       s
       o
       l
       e
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       a
       n
       d
       t
       h
       e
       a
       w
       a
       r
       d
       o
       f
       t
       h
       e
       s
       o
       l
       e
       a
       r
       b
       i
       t
       r
       a
       t
       o
       r
       w
       o
       u
       l
       d
       b
       e
       b
       i
       n
       d
       i
       n
       g
       o
       n
       a
       l
       l
       t
       h
       e
       p
       a
       r
       t
       i
       e
       s
       .
       I
       n
       t
       h
       e
       p
       r
       e
       s
       e
       n
       t
       c
       a
       s
       e
       ,
       t
       h
       e
       e
       a
       r
       l
       i
       e
       s
       t
       l
       e
       t
       t
       e
       r
       w
       r
       i
       t
       t
       e
       n
       b
       y
       t
       h
       e
       a
       p
       p
       e
       l
       l
       a
       n
       t
       t
       o
       t
       h
       e
       r
       e
       s
       p
       o
       n
       d
       e
       n
       t
       i
       s
       d
       a
       t
       e
       d
       1
       9
       -
       1
       1
       -
       1
       9
       7
       5
       .
       I
       n
       t
       h
       e
       s
       a
       i
       d
       l
       e
       t
       t
       e
       r
       ,
       t
       h
       e
       a
       p
       p
       e
       l
       l
       a
       n
       t
       a
       f
       t
       e
       r
       i
       n
       v
       i
       t
       i
       n
       g
       t
       h
       e
       a
       t
       t
       e
       n
       t
       i
       o
       n
       o
       f
       t
       h
       e
       r
       e
       s
       p
       o
       n
       d
       e
       n
       t
       t
       o
       t
       h
       e
       d
       e
       f
       e
       c
       t
       s
       i
       n
       t
       h
       e
       p
       l
       a
       n
       t
       a
       n
       d
       m
       a
       c
       h
       i
       n
       e
       r
       y
       i
       n
       s
       t
       a
       l
       l
       e
       d
       b
       y
       t
       h
       e
       r
       e
       s
       p
       o
       n
       d
       e
       n
       t
       ,
       c
       o
       n
       c
       l
       u
       d
       e
       d
       t
       h
       e
       l
       e
       t
       t
       e
       r
       a
       s
       f
       o
       l
       l
       o
       w
       s
       :
       -
       "
       I
       a
       m
       s
       u
       r
       e
       t
       h
       a
       t
       y
       o
       u
       w
       i
       l
       l
       n
       o
       w
       l
       o
       o
       k
       i
       n
       t
       o
       t
       h
       e
       i
       s
       s
       u
       e
       p
       e
       r
       s
       o
       n
       a
       l
       l
       y
       a
       n
       d
       t
       a
       k
       e
       s
       u
       c
       h
       a
       c
       t
       i
       o
       n
       s
       a
       s
       i
       s
       n
       e
       c
       e
       s
       s
       a
       r
       y
       t
       o
       h
       a
       n
       d
       o
       v
       e
       r
       p
       l
       a
       n
       t
       a
       n
       d
       t
       o
       g
       i
       v
       e
       t
       h
       e
       r
       a
       t
       e
       d
       c
       a
       p
       a
       c
       i
       t
       y
       p
       r
       o
       d
       u
       c
       t
       i
       o
       n
       a
       f
       t
       e
       r
       n
       e
       c
       e
       s
       s
       a
       r
       y
       m
       o
       d
       i
       f
       i
       c
       a
       t
       i
       o
       n
       .
       P
       l
       e
       a
       s
       e
       a
       c
       k
       n
       o
       w
       l
       e
       d
       g
       e
       t
       h
       e
       r
       e
       c
       e
       i
       p
       t
       o
       f
       t
       h
       i
       s
       l
       e
       t
       t
       e
       r
       a
       n
       d
       c
       o
       n
       f
       i
       r
       m
       a
       c
       t
       i
       o
       n
       t
       a
       k
       e
       n
       .
       "
     * "
       6
       G
       o
       v
       e
       r
       n
       i
       n
       g
       l
       a
       w
       a
       n
       d
       s
       e
       t
       t
       l
       e
       m
       e
       n
       t
       o
       f
       d
       i
       s
       p
       u
       t
       e
       "
       6
       .
       1
       A
       n
       y
       d
       i
       s
       p
       u
       t
       e
       o
       r
       d
       i
       f
       f
       e
       r
       e
       n
       c
       e
       a
       r
       i
       s
       i
       n
       g
       o
       u
       t
       o
       f
       o
       r
       r
       e
       l
       a
       t
       i
       n
       g
       t
       o
       t
       h
       i
       s
       a
       g
       r
       e
       e
       m
       e
       n
       t
       s
       h
       a
       l
       l
       b
       e
       r
       e
       s
       o
       l
       v
       e
       d
       b
       y
       t
       h
       e
       P
       a
       r
       t
       i
       e
       s
       i
       n
       a
       n
       a
       m
       i
       c
       a
       b
       l
       e
       w
       a
       y
       .
       (
       A
       m
       i
       n
       i
       m
       u
       m
       o
       f
       6
       0
       d
       a
       y
       s
       s
       h
       a
       l
       l
       b
       e
       u
       s
       e
       d
       f
       o
       r
       r
       e
       s
       o
       l
       v
       i
       n
       g
       t
       h
       e
       d
       i
       s
       p
       u
       t
       e
       i
       n
       a
       m
       i
       c
       a
       b
       l
       e
       w
       a
       y
       b
       e
       f
       o
       r
       e
       s
       a
       m
       e
       c
       a
       n
       b
       e
       r
       e
       f
       e
       r
       r
       e
       d
       t
       o
       a
       r
       b
       i
       t
       r
       a
       t
       i
       o
       n
       )
       6
       .
       2
       I
       n
       c
       a
       s
       e
       n
       o
       s
       e
       t
       t
       l
       e
       m
       e
       n
       t
       c
       a
       n
       b
       e
       r
       e
       a
       c
       h
       e
       d
       t
       h
       r
       o
       u
       g
       h
       n
       e
       g
       o
       t
       i
       a
       t
       i
       o
       n
       s
       ,
       a
       l
       l
       d
       i
       s
       p
       u
       t
       e
       s
       ,
       c
       o
       n
       t
       r
       o
       v
       e
       r
       s
       i
       e
       s
       o
       r
       d
       i
       f
       f
       e
       r
       e
       n
       c
       e
       s
       s
       h
       a
       l
       l
       b
       e
       r
       e
       f
       e
       r
       r
       e
       d
       t
       o
       a
       n
       d
       f
       i
       n
       a
       l
       l
       y
       r
       e
       s
       o
       l
       v
       e
       d
       b
       y
       A
       r
       b
       i
       t
       r
       a
       t
       i
       o
       n
       i
       n
       Z
       u
       r
       i
       c
       h
       ,
       i
       n
       t
       h
       e
       E
       n
       g
       l
       i
       s
       h
       l
       a
       n
       g
       u
       a
       g
       e
       i
       n
       a
       c
       c
       o
       r
       d
       a
       n
       c
       e
       w
       i
       t
       h
       t
       h
       e
       R
       u
       l
       e
       s
       o
       f
       C
       o
       n
       c
       i
       l
       i
       a
       t
       i
       o
       n
       a
       n
       d
       A
       r
       b
       i
       t
       r
       a
       t
       i
       o
       n
       o
       f
       t
       h
       e
       I
       n
       t
       e
       r
       n
       a
       t
       i
       o
       n
       a
       l
       C
       h
       a
       m
       b
       e
       r
       o
       f
       C
       o
       m
       m
       e
       r
       c
       e
       ,
       w
       h
       i
       c
       h
       r
       u
       l
       e
       s
       a
       r
       e
       d
       e
       e
       m
       e
       d
       t
       o
       b
       e
       i
       n
       c
       o
       r
       p
       o
       r
       a
       t
       e
       d
       b
       y
       r
       e
       f
       e
       r
       e
       n
       c
       e
       i
       n
       t
       o
       t
       h
       i
       s
       c
       l
       a
       u
       s
       e
       .
       T
       h
       e
       A
       r
       b
       i
       t
       r
       a
       t
       i
       o
       n
       A
       w
       a
       r
       d
       s
       h
       a
       l
       l
       b
       e
       f
       i
       n
       a
       l
       a
       n
       d
       b
       i
       n
       d
       i
       n
       g
       o
       n
       b
       o
       t
       h
       t
       h
       e
       P
       a
       r
       t
       i
       e
       s
       .
       D
       o
       w
       n
       l
       o
       a
       d
       e
       d
       o
       n
       :
       T
       u
       e
       N
       o
       v
       0
       3
       2
       3
       :
       2
       9
       :
       3
       8
       I
       S
       T
       2
       0
       2
       0
       6
       .
       3
       T
       h
       e
       A
       g
       r
       e
       e
       m
       e
       n
       t
       (
       t
       o
       g
       e
       t
       h
       e
       r
       w
       i
       t
       h
       a
       n
       y
       d
       o
       c
       u
       m
       e
       n
       t
       s
       r
       e
       f
       e
       r
       r
       e
       d
       t
       o
       h
       e
       r
       e
       i
       n
       )
       c
       o
       n
       s
       t
       i
       t
       u
       t
       e
       s
       t
       h
       e
       w
       h
       o
       l
       e
       a
       g
       r
       e
       e
       m
       e
       n
       t
       b
       e
       t
       w
       e
       e
       n
       t
       h
       e
       P
       a
       r
       t
       i
       e
       s
       a
       n
       d
       i
       t
       i
       s
       h
       e
       r
       e
       b
       y
       e
       x
       p
       r
       e
       s
       s
       l
       y
       d
       e
       c
       l
       a
       r
       e
       t
       h
       a
       t
       n
       o
       v
       a
       r
       i
       a
       t
       i
       o
       n
       a
       n
       d
       /
       o
       r
       a
       m
       e
       n
       d
       m
       e
       n
       t
       s
       h
       e
       r
       e
       o
       f
       b
       e
       e
       f
       f
       e
       c
       t
       i
       v
       e
       u
       n
       l
       e
       s
       s
       m
       u
       t
       u
       a
       l
       l
       y
       a
       g
       r
       e
       e
       d
       u
       p
       o
       n
       a
       n
       d
       m
       a
       d
       e
       i
       n
       w
       r
       i
       t
       i
       n
       g
       .
       "
     *
     * 2(2) This Part shall apply where the place of arbitration is in India: "116. The legal position that emerges from a
       conspectus of all the decisions, seems to be, that the choice of another country as the seat of arbitration inevitably
       imports an acceptance that the law of that country relating to the conduct and supervision of arbitrations will apply to the
       proceedings." "116. The legal position that emerges from a conspectus of all the decisions, seems to be, that the choice of
       another country as the seat of arbitration inevitably imports an acceptance that the law of that country relating to the
       conduct and supervision of arbitrations will apply to the proceedings." "6. Governing Law and Settlement of Dispute 6.2
       ...finally resolved by Arbitration in Zurich, in the English language in accordance with the Rules of Conciliation and
       Arbitration of the International Chamber of Commerce..." "6. Governing Law and Settlement of Dispute 6.2 ...finally resolved
       by Arbitration in Zurich, in the English language in accordance with the Rules of Conciliation and Arbitration of the
       International Chamber of Commerce..." "[f]or the reasons set out above, the Tribunal therefore finds that the arbitration
       clause in the Settlement Agreement is valid and will proceed to apply the Swiss Act because the seat of the arbitration is
       Zurich, Switzerland." "[f]or the reasons set out above, the Tribunal therefore finds that the arbitration clause in the
       Settlement Agreement is valid and will proceed to apply the Swiss Act because the seat of the arbitration is Zurich,
       Switzerland." (i) Transcript of the hearing held on July 16, 2018 (i) Transcript of the hearing held on July 16, 2018 -
       "Ladies and gentlemen, welcome to Mumbai. In fact, we are in Zurich. The seat of the arbitration is Zurich, so the Swiss
       Private International Law statute applies with regards to procedural law. But pursuant to the ICC Rules, we are, for
       convenience purposes, sitting in Mumbai India." [Emphasis applied] "Provided that subject to an agreement to the contrary,
       the provisions of sections 9, 27 and clause (a) of sub- section (1) and sub-section (3) of section 37 shall also apply to
       international commercial arbitration, even if the place of arbitration is outside India, and an arbitral award made or to be
       made in such place is enforceable Page 90 of 95 Downloaded on : Tue Nov 03 23:29:38 IST 2020 C/IAAP/131/2019 CAV JUDGMENT
       and recognised under the provisions of Part II of this Act.". "24. Another significant aspect which cannot be overlooked is
       that Section 2(1)(e)(ii) is not made applicable to foreign awards falling in Part II of the Act. It is thus clear that when
       neither the arbitration nor the award in question would fall under Section 2(1)(e)(ii) of the Act there cannot be any
       applicability of the said provision. Thus necessarily recourse would be required to be taken to the definition of "Court" as
       contained in the "Explanation" to Section 47 falling in Part II of the Act, so as to hold that it is this provision which
       becomes relevant to confer jurisdiction on this court to entertain the Section 9 petition, pending the enforceability of the
       foreign award in question. Such legal fiction of applicability of Part II of the Act qua the definition of "Court" under the
       Explanation to Section 47 is a fall out of the 2015 Amendment Act. In my opinion, considering the legislative scheme as Page
       93 of 95 Downloaded on : Tue Nov 03 23:29:38 IST 2020 C/IAAP/131/2019 CAV JUDGMENT brought about by the 2015 Amendment Act,
       it is not possible, in the circumstances, to resort to any other interpretation. A party in enforcing a foreign award and
       seeking recourse to Section 9 of the Act, cannot be left without an effective remedy, in a situation akin to the facts in
       the present case. This interpretation in my opinion suffices and fulfills the legislative intent in making Section 9
       interalia available in enforcement of foreign awards."

   Ge Power Conversion India Private ... vs Pasl Wind Solutions Private ... on 3 November, 2020
     *
     * "
       2
       2
       7
       .
       .
       .
       A
       .
       T
       h
       e
       s
       e
       a
       t
       o
       f
       t
       h
       e
       a
       r
       b
       i
       t
       r
       a
       t
       i
       o
       n
       i
       s
       Z
       u
       r
       i
       c
       h
       ,
       S
       w
       i
       t
       z
       e
       r
       l
       a
       n
       d
       .
       .
       .
       .
       D
       o
       w
       n
       l
       o
       a
       d
       e
       d
       o
       n
       :
       T
       u
       e
       N
       o
       v
       0
       3
       2
       3
       :
       2
       9
       :
       3
       8
       I
       S
       T
       2
       0
       2
       0
       B
       .
       T
       h
       e
       C
       l
       a
       i
       m
       a
       n
       t
       '
       s
       c
       l
       a
       i
       m
       s
       f
       o
       r
       b
       r
       e
       a
       c
       h
       o
       f
       c
       o
       n
       t
       r
       a
       c
       t
       ,
       d
       a
       m
       a
       g
       e
       s
       a
       n
       d
       i
       n
       t
       e
       r
       e
       s
       t
       t
       h
       e
       r
       e
       o
       n
       a
       r
       e
       r
       e
       j
       e
       c
       t
       e
       d
       .
       C
       .
       T
       h
       e
       C
       l
       a
       i
       m
       a
       n
       t
       s
       h
       a
       l
       l
       p
       a
       y
       t
       o
       t
       h
       e
       R
       e
       s
       p
       o
       n
       d
       e
       n
       t
       I
       N
       R
       2
       5
       ,
       9
       7
       6
       ,
       3
       3
       0
       .
       0
       0
       a
       n
       d
       U
       S
       $
       4
       0
       ,
       0
       0
       0
       .
       0
       0
       i
       n
       l
       e
       g
       a
       l
       c
       o
       s
       t
       s
       a
       n
       d
       e
       x
       p
       e
       n
       s
       e
       s
       w
       i
       t
       h
       a
       c
       c
       u
       m
       u
       l
       a
       t
       e
       d
       i
       n
       t
       e
       r
       e
       s
       t
       ,
       i
       f
       a
       n
       y
       ,
       i
       n
       a
       c
       c
       o
       r
       d
       a
       n
       c
       e
       w
       i
       t
       h
       t
       h
       e
       I
       n
       d
       i
       a
       n
       I
       n
       t
       e
       r
       e
       s
       t
       A
       c
       t
       1
       9
       7
       8
       .
       D
       .
       A
       l
       l
       o
       t
       h
       e
       r
       c
       l
       a
       i
       m
       s
       o
       f
       e
       i
       t
       h
       e
       r
       p
       a
       r
       t
       y
       ,
       t
       o
       t
       h
       e
       e
       x
       t
       e
       n
       t
       t
       h
       a
       t
       t
       h
       e
       y
       e
       x
       i
       s
       t
       ,
       a
       r
       e
       d
       i
       s
       m
       i
       s
       s
       e
       d
       .
       "
     *
     * 2(2) This Part shall apply where the place of arbitration is in India: "116. The legal position that emerges from a
       conspectus of all the decisions, seems to be, that the choice of another country as the seat of arbitration inevitably
       imports an acceptance that the law of that country relating to the conduct and supervision of arbitrations will apply to the
       proceedings." "116. The legal position that emerges from a conspectus of all the decisions, seems to be, that the choice of
       another country as the seat of arbitration inevitably imports an acceptance that the law of that country relating to the
       conduct and supervision of arbitrations will apply to the proceedings." "6. Governing Law and Settlement of Dispute 6.2
       ...finally resolved by Arbitration in Zurich, in the English language in accordance with the Rules of Conciliation and
       Arbitration of the International Chamber of Commerce..." "6. Governing Law and Settlement of Dispute 6.2 ...finally resolved
       by Arbitration in Zurich, in the English language in accordance with the Rules of Conciliation and Arbitration of the
       International Chamber of Commerce..." "[f]or the reasons set out above, the Tribunal therefore finds that the arbitration
       clause in the Settlement Agreement is valid and will proceed to apply the Swiss Act because the seat of the arbitration is
       Zurich, Switzerland." "[f]or the reasons set out above, the Tribunal therefore finds that the arbitration clause in the
       Settlement Agreement is valid and will proceed to apply the Swiss Act because the seat of the arbitration is Zurich,
       Switzerland." (i) Transcript of the hearing held on July 16, 2018 (i) Transcript of the hearing held on July 16, 2018 -
       "Ladies and gentlemen, welcome to Mumbai. In fact, we are in Zurich. The seat of the arbitration is Zurich, so the Swiss
       Private International Law statute applies with regards to procedural law. But pursuant to the ICC Rules, we are, for
       convenience purposes, sitting in Mumbai India." [Emphasis applied] "Provided that subject to an agreement to the contrary,
       the provisions of sections 9, 27 and clause (a) of sub- section (1) and sub-section (3) of section 37 shall also apply to
       international commercial arbitration, even if the place of arbitration is outside India, and an arbitral award made or to be
       made in such place is enforceable Page 90 of 95 Downloaded on : Tue Nov 03 23:29:38 IST 2020 C/IAAP/131/2019 CAV JUDGMENT
       and recognised under the provisions of Part II of this Act.". "24. Another significant aspect which cannot be overlooked is
       that Section 2(1)(e)(ii) is not made applicable to foreign awards falling in Part II of the Act. It is thus clear that when
       neither the arbitration nor the award in question would fall under Section 2(1)(e)(ii) of the Act there cannot be any
       applicability of the said provision. Thus necessarily recourse would be required to be taken to the definition of "Court" as
       contained in the "Explanation" to Section 47 falling in Part II of the Act, so as to hold that it is this provision which
       becomes relevant to confer jurisdiction on this court to entertain the Section 9 petition, pending the enforceability of the
       foreign award in question. Such legal fiction of applicability of Part II of the Act qua the definition of "Court" under the
       Explanation to Section 47 is a fall out of the 2015 Amendment Act. In my opinion, considering the legislative scheme as Page
       93 of 95 Downloaded on : Tue Nov 03 23:29:38 IST 2020 C/IAAP/131/2019 CAV JUDGMENT brought about by the 2015 Amendment Act,
       it is not possible, in the circumstances, to resort to any other interpretation. A party in enforcing a foreign award and
       seeking recourse to Section 9 of the Act, cannot be left without an effective remedy, in a situation akin to the facts in
       the present case. This interpretation in my opinion suffices and fulfills the legislative intent in making Section 9
       interalia available in enforcement of foreign awards."
